<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>log4j-application</display-name>

    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>com.internet.shop.lib.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.internet.shop.controllers.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>com.internet.shop.controllers.InjectDataController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/inject-data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>com.internet.shop.controllers.user.GetAllUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>com.internet.shop.controllers.user.DeleteUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.internet.shop.controllers.user.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/users/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.GetAllProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.AddProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersShoppingCart</servlet-name>
        <servlet-class>com.internet.shop.controllers.cart.GetProductsInCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersShoppingCart</servlet-name>
        <url-pattern>/shopping-carts/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>com.internet.shop.controllers.cart.AddProductToCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/shopping-carts/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>removeFromCart</servlet-name>
        <servlet-class>com.internet.shop.controllers.cart.RemoveProductFromCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>removeFromCart</servlet-name>
        <url-pattern>/shopping-carts/products/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manageProducts</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.ManageProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>manageProducts</servlet-name>
        <url-pattern>/products/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.DeleteProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/products/edit/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirmOrder</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.ConfirmOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>confirmOrder</servlet-name>
        <url-pattern>/orders/complete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usersOrdersHistory</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.GetUserOrdersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>usersOrdersHistory</servlet-name>
        <url-pattern>/orders/history</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderDetails</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.GetOrdersDetailsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>orderDetails</servlet-name>
        <url-pattern>/orders/details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.DeleteOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/orders/edit/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manageOrders</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.ManageOrdersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>manageOrders</servlet-name>
        <url-pattern>/orders/edit</url-pattern>
    </servlet-mapping>
</web-app>
